.h-search-form {
    width: 100%;
    position: relative;
  }
  
.h-saerch-form input {
    width: 100%;
    padding: 0 30px;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    position: relative;
    color: #333;
    height: 78px;
}

.h-saerch-form button{
    position: absolute;
    right: 6px;
    height: 60px;
    border: none;
    color: #fff;
    background: #5f3afc;
    top: 5px;
    border-radius: 50px;
    width: 100px;
}
  