{% extends "base.html" %} {% block title %}Search{% endblock %} {% block content
%}
<body>
  <table class="table table-hover" cellspacing="0">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Description</th>
        <th scope="col">Color</th>
        <th scope="col">Size</th>
      </tr>
    </thead>
    <tbody>
      {% if recentRecords == [] %}
      <p>No relevant product</p>
      {% else %} {% for rows in recentRecords %}
      <tr>
        <td>{{ rows.Product }}</td>
        <td>{{ rows.description }}</td>
        <td>{{ rows.color }}</td>
        <td>{{ rows.size }}</td>
      </tr>
      {% endfor %} {% endif %}
    </tbody>
  </table>
</body>
{% endblock %}
