{% extends "base.html" %} {% block title %}Search{% endblock %} {% block content
%}
<body>
  <table class="table table-hover" cellspacing="0">
    <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Description</th>
        <th scope="col">Color</th>
        <th scope="col">Size</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      {% if recentRecords == [] %}
      <p>No relevant product</p>
      {% else %} {% for rows in recentRecords %}
      <tr>
        <td>{{ rows.product }}</td>
        <td>{{ rows.description }}</td>
        <td>{{ rows.color }}</td>
        <td>{{ rows.size }}</td>
        <td>{{ rows.unit_price}}</td>
        <td>
          <form action="{{ url_for('views.add_collect')}}" method="POST">
            <input
              type="hidden"
              name="btn-pressed"
              value="{{rows.product_id}}"
            />
            <button type="submit" class="btn btn-outline-default waves-effect">
              <ion-icon name="star-outline"></ion-icon>
            </button>
          </form>
        </td>
      </tr>
      {% endfor %} {% endif %}
    </tbody>
  </table>
</body>
{% endblock %}
