{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}

<form method="POST">
  <h3 align="center">Sign Up</h3>
  <p>Please fill in this form to create an account.</p>
  <hr />

  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
      required
    />
  </div>

  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter first name"
      required
    />
  </div>

  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
      required
    />
  </div>

  <div class="form-group">
    <label for="password2">Password (Confirm)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
      required
    />
  </div>

  <div class="form-group">
    <label>Remember me</label>
    <input
      type="checkbox"
      checked="checked"
      name="remember"
      style="margin-bottom: 15px"
    />
  </div>

  <p>
    By creating an account you agree to our
    <a href="#" style="color: dodgerblue">Terms & Privacy</a>.
  </p>

  <br />
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
{% endblock %}
